* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: Titillium, sans-serif;
    font-weight: 300;
    color: #29b6d4;
}

#fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
}

.fafa-color {
    color: #abd43b;
}

.active {
    font-weight: 700;
}

li:hover {
    text-decoration: underline;
    font-weight: 700;
}

nav,
footer,
nav li,
footer li {
    background-color: #D852A6;
    padding: 10px;
    text-align: center;
}

footer li:hover {
    transform: scale(1.5);
}

.nav-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
}

.foot-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo {
    flex-grow: 1;

}

nav ul li {
    min-width: 100px;
    flex-grow: 1;
}

#home-page {
    width: 100%;
    min-height: 498px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/multicolored-keyboard.png");
}

#register-page h2 {
    font-size: large;
}

#alt-tab {
    background-image: url(../images/alt+tab.png);
}

#ctrl-b {
    background-image: url(../images/ctrl+b.png);
}

#ctrl-c {
    background-image: url(../images/ctrl+c.png);
}

#ctrl-n {
    background-image: url(../images/ctrl+n.png);
}

#ctrl-p {
    background-image: url(../images/ctrl+p.png);
}

#ctrl-z {
    background-image: url(../images/ctrl+z.png);
}

#alt-shift-tab {
    background-image: url(../images/alt+shift+tab.png);
}

.shortcut-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 330px;
    border-radius: 24px;
    border: 1px solid #113548;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 20px;
    /* position: relative; */
    transition: 0.3s;
    transition-property: transform;
}

.shortcut-card p {
    text-align: center;
    padding: 1px;
}

.shortcut-card:nth-of-type(1n) h3 {
    color: #D852A6;
}
.shortcut-card:nth-of-type(2n) h3 {
    color: #abd43b;
}
.shortcut-card:nth-of-type(3n) h3 {
    color: #29b6d4;
}

.shortcut-card:nth-of-type(n+1) p {
    color: #29b6d4;
}
.shortcut-card:nth-of-type(2n+2) p {
    color: #D852A6;
}
.shortcut-card:nth-of-type(3n+3) p {
    color: #abd43b;
}
div.shortcut-card:nth-of-type(n+1) {
    border: 2px solid #abd43b;
}
div.shortcut-card:nth-of-type(2n+2) {
    border: 2px solid #29b6d4;
}
div.shortcut-card:nth-of-type(3n+3) {
    border: 2px solid #D852A6;
}


.shortcut-card-img {
    width: 97.5%;
    height: 180px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 2px;
}

.shortcut-card h3 {
    text-align: center;
}

#shortcuts {
    padding-bottom: 40px;
}

.shortcut-container {
    max-width: 1200px;
    padding: 0 0px;
    margin: 0 auto;
    width: 100%;
}

.add-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-header {
    margin: 10px 0;
    color: #29b6d4;
    text-align: center;
    font-size: 30px;
    font-family: Titillium, sans-serif;
    font-weight: 700;
    line-height: 50px;
}

.shortcuts-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #FFF;
}

.reg-form {
    width: 250px;
    height: 330px;
    border-radius: 24px;
    border: 1px solid #D852A6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}

.reg-form div {
    margin: 20px
}

.submit-button {
    color:#abd43b;
    background-color: #D852A6;
    padding: 5px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.bottom {
    margin-bottom: 70px;
}

input {
    border: 1px solid #d852a6;
    border-radius: 5px;
}

/* Default styles for the table */
table {
    width: 100%;
    border-collapse: collapse;
}

table td,
table th, table kbd {
    border: 1px solid #ccc;
    padding: 8px;
}

/* Flexbox styles */
table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

td:nth-of-type(odd) {
    text-align: center;
}

table tr {
    display: flex;
    width: 100%;  
}

table td,
table th {
    flex-basis: 50%;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {

    table td,
    table th {
        flex-basis: 100%;
    }
}

#dummy-page h2 {
    text-align: center;
}

/* Media Queries */
@media only screen and (min-width: 104px) {
    #home-page,
        #register-page,
        #dummy-page,
            .top{
        margin-top: 255px;
    }    
}

@media only screen and (min-width: 170.4px) {
    #home-page,
        #register-page,
        #dummy-page,
            .top{
        margin-top: 228px;
    }   
}

@media only screen and (min-width: 260px) {
    #home-page,
        #register-page,
        #dummy-page,
            .top{
        margin-top: 151.2px;
    }  
}

@media only screen and (min-width: 291px) {
    #home-page,
        #register-page,
        #dummy-page,
            .top{
        margin-top: 124px;
    }  
}

@media only screen and (min-width: 500px) {
    #home-page,
        #register-page,
        #dummy-page,
            .top{
        margin-top: 85.6px;
    }
}

@media only screen and (min-width: 770px) {
    #home-page,
        #register-page,
        #dummy-page, .top {
        margin-top: 58.4px;
    }
}