@import url('https: //fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #72a4d4;
    text-align: center;
    margin: auto;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

nav {
    margin-bottom: 10px;
}

nav ul li{
    margin: auto; 
    list-style-type: none;
}

nav ul li a {
    color: #72a4d4;
    text-decoration: none;
} 

iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.active {
    font-weight: 700;
    text-decoration: underline #72a4d4;
}

nav ul li a:hover {
    font-weight: 700;
    text-decoration: underline;
}

label {
    text-align: right;
}

/* footer */
footer {
    margin-top: 10px;
} 

footer ul{ 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}


/* Media Queries */
/* For mobile phones: */
@media only screen and (min-width: 320px) {
        /* [class*="col-"] {
        width: 100%;
        } */


        /* [class*="col-s-"] {
            width: 50%;
            padding: 2px;
        } */

           .col-s-1 {
               width: 8.33%;
           }
    
           .col-s-2 {
               width: 16.66%;
           }
    
           .col-s-3 {
               width: 25%;
           }
    
           .col-s-4 {
               width: 33.33%;
           }
    
           .col-s-5 {
               width: 41.66%;
           }
    
           .col-s-6 {
               width: 50%;
           }
    
           .col-s-7 {
               width: 58.33%;
           }
    
           .col-s-8 {
               width: 66.66%;
           }
    
           .col-s-9 {
               width: 75%;
           }
    
           .col-s-10 {
               width: 83.33%;
           }
    
           .col-s-11 {
               width: 91.66%;
           }
    
           .col-s-12 {
               width: 100%;
           }

        nav {
            font-size: 100%;
        }
}




@media only screen and (min-width: 600px) {

    /* For tablets: */
    /* [class*="col-s-"] {
            width: 100%;
        } */

    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 923px) {
    .no-display {
        display: none;
    }
}



Mobile portrait <320px
Mobile portrait ≥320px 
Mobile ladscape ≥576px 
Tablet portrait ≥768px 
Tablet ladscape ≥992px 
Laptop ≥1200px Desktop and above ≥1400px